<html>
<head>
    <title>Nite Life</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="updateScript.js"></script>

</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="home.html">Select A Venue</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="venue.html">Venue Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Event</a>
                    </li>
                </ul>
            </div>
            <div class="container-fluid">
                <form class="form-inline">
                    <select name="venue" class="custom-select" required>
                        <option value="Klute">Klute</option>
                        <option value="Jimmy Allens">Jimmy Allens</option>
                        <option value="Bishop's Mill">Bishop's Mill</option>
                    </select>
                    <p>  </p>
                    <button type="submit" class="btn btn-info" formaction="venue.html">Select Venue</button>
                </form>
            </div>
        </div>
    </nav>
    <p></p>

    <div class="container-fluid">
        <div class="card-deck">
            <div class="card">
                <div class="card-header"><h2>Edit Club Details</h2></div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="clubName">Name</label>
                            <input class="form-control" id="clubName" type="text" placeholder="Name" readonly>
                        </div>
                        <div class="form-group">
                            <label for="capacity">Capacity</label>
                            <input class="form-control" id="capacity" type="text" placeholder="Enter Capacity", maxlength="4">
                        </div>
                        <div class="form-group">
                            <label for="price">Ticket Price</label>
                            <input class="form-control" id="price" type="text" placeholder="Enter Ticket Price", maxlength="4">
                        </div>
                        <div class="form-group">
                            <label for="openTime">Opening Time</label>
                            <select name="openTime" class="custom-select" id="openTime"></select>
                        </div>
                        <div class="form-group">
                            <label for="closeTime">Closing Time</label>
                            <select name="closeTime" class="custom-select" id="closeTime"></select>
                        </div>
                        <div class="form-group">
                            <label for="clubImg">Upload Logo</label>
                            <input type="file" class="form-control-file" id="clubImg">
                        </div>
                    </form>
                </div>
                <button type="submit" class="btn btn-info" id="submitChanges">Make Changes</button>
            </div>

            <div class="card">
                <div class="card-header"><h2>Your Events</h2></div>
                <div class="card-body" id="cal">
                    <div class="row row-striped">
            			<div class="col-2 text-right">
            				<h1 class="display-4"><span class="badge badge-secondary">23</span></h1>
            				<h2>OCT</h2>
            			</div>
            			<div class="col-10">
            				<h3 class="text-uppercase"><strong>Ice Cream Social</strong></h3>
            				<ul class="list-inline">
            				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Monday</li>
            					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 12:30 PM - 2:00 PM</li>
            					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Cafe</li>
            				</ul>
            				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            			</div>
            		</div>
            		<div class="row row-striped">
            			<div class="col-2 text-right">
            				<h1 class="display-4"><span class="badge badge-secondary">27</span></h1>
            				<h2>OCT</h2>
            			</div>
            			<div class="col-10">
            				<h3 class="text-uppercase"><strong>Operations Meeting</strong></h3>
            				<ul class="list-inline">
            				    <li class="list-inline-item"><i class="fa fa-calendar-o" aria-hidden="true"></i> Friday</li>
            					<li class="list-inline-item"><i class="fa fa-clock-o" aria-hidden="true"></i> 2:30 PM - 4:00 PM</li>
            					<li class="list-inline-item"><i class="fa fa-location-arrow" aria-hidden="true"></i> Room 4019</li>
            				</ul>
            				<p>Lorem ipsum dolsit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            			</div>
            		</div>
                </div>
                <a href="newEvent.html" class="btn btn-info" role="button">Create New Event</a>
            </div>
        </div>
    </div>

</body>
</html>
